window {
  font-family: FiraCode Nerd Font, monospace;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid rgba(0, 152, 255, 0.85);
  background-color: rgba(8, 0, 16, 0.85);
  color: white;
}
.workspaces {
  padding-left: 10px;
}
.clock {
  padding-right: 10px;
}
button {
  background: none;
  padding: 5;
  margin: 0;
  border: none;
}
button.focused {
  color: rgba(0, 0x98, 0xff, 0xcc);
}
label#start {
  padding-left: 10px;
}
label#end {
  padding-right: 10px;
}
