window {
  font-family: FiraCode Nerd Font, monospace;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid rgba(0, 152, 255, 0.85);
  background-color: rgba(8, 0, 16, 0.85);
  color: white;
}
button {
  background: none;
  padding: 5px;
  margin: 0px;
  border: none;
}
button.focused {
  color: rgba(0, 152, 255, 0.85);
}
window#system-controls {
  border: none;
}
window#system-controls button {
  font-size: 48px;
  border: 1px solid white;
  border-radius: 10px;
}
window#system-controls button:focus {
  color: rgb(0, 152, 255);
  border-color: rgb(0, 152, 255);
}
.left {
  padding-left: 10px;
}
.right {
  padding-right: 10px;
}
.bar button:hover {
  color: rgba(0, 192, 255, 0.85);
}
