#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Bluesky
Exec=brave --app="https://bsky.app"
Icon=/home/doppler/.local/share/applications/bluesky-logo.svg
StartupWMClass=bsky
